%h3 User
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  Roles: 
%p
  = form_tag(update_roles_admin_user_path(@user), :method => :put) do
    - for role in Role.all
      = check_box_tag "role_ids[]", role.id, @user.roles.include?(role)
      = role.name
      %br
    = submit_tag "Update"
